<p id="notice"><%= notice %></p>

<h1>
 
  <%= @beer_club.name %>
</h1>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>


<h2>
  Members:
 
</h2>

<p>

  <% if @beer_club.memberships.empty? %>
	Beer Club has not yet any members!
  <% else %>
	<% @beer_club.users.each do |user| %>
		
		
		<ul><%= link_to user.username, user %></ul>
	<% end %>
  <% end %>
</p>



<%= link_to 'Edit', edit_beer_club_path(@beer_club) if current_user%> 
