

<h1>Beer places search</h1>

<p id="notice"><%= notice %></p>

<p><%= form_tag places_path do %>

	city <%= text_field_tag :city, params[:city] %>
	<%= submit_tag "Search" %>
	
<% end %>
</p>

<!-- <% if session[:city].nil? %>
	<p>No city</p>
<% else %>
	<p><%= session[:city] %> </p>
<% end %> -->

<% if @places %>
	<table>
		<thead>
			<% Place.rendered_fields.each do |f| %>

				<td> <%= f %> </td>

			<% end %>

		</thead>

		

		<% @places.each do |place| %>
			<tr>	

				
				<td> <%= link_to place.name, { :controller => "places", :action => "show", :id => place.id } %> </td>



				<% Place.rendered_fields[1..-1].each do |f| %>
					<td> <%= place.send(f) %></td>
				<% end %>
			</tr>
		<% end %>

	</table>


<% end %>

